@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* *{
    border: 1px solid red;
  } */

  ::-moz-selection {
    background: #d1d1c7;
  }
  ::-webkit-selection {
    background: #d1d1c7;
  }
  ::selection {
    background: #d1d1c7;
  }

  .text-smooth {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @font-face {
    font-family: "CabinetGrotesk-Variable";
    src: url("./components/font/etc/CabinetGrotesk-Variable.ttf")
      format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "GeneralSans-Variable";
    src: url("./components/font/etc/GeneralSans-Variable.ttf")
      format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

  @media (min-width: 640px) {
    * {
      cursor: none;
    }
  }
  a,
  p,
  span {
    @apply font-grotesk;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-general tracking-headings;
  }

  .font-outline-4 {
    -webkit-text-stroke: 5px black;
  }

  .font-outline-3 {
    -webkit-text-stroke: 4px #0e0e0c;
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

@layer components {
  .button {
    @apply bg-accent-300 px-8 py-3 text-secondary-200 rounded-full;
  }
}

@layer utilities {
  .title {
    clip-path: polygon(0 0, 200% 0, 100% 100%, 0% 100%);
    line-height: clamp(6rem, 16vw, 10rem); /* Set the desired line height */
  }

  .paragraph {
    clip-path: polygon(0 0, 200% 0, 100% 100%, 0% 100%);
    line-height: clamp(2rem, 4vw, 3rem); /* Set the desired line height */
  }

  nav a:hover ~ .cursor {
    transform: scale(5);
    opacity: 0;
  }

  .section-heading {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
}
